USE [master]
GO
/****** Object:  Database [EnglishStore_DubininRA]    Script Date: 09.04.2026 11:48:41 ******/
CREATE DATABASE [EnglishStore_DubininRA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EnglishStore_DubininRA', FILENAME = N'/var/opt/mssql/data/EnglishStore_DubininRA.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 LOG ON 
( NAME = N'EnglishStore_DubininRA_log', FILENAME = N'/var/opt/mssql/data/EnglishStore_DubininRA_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EnglishStore_DubininRA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EnglishStore_DubininRA]
GO
/****** Object:  User [alexm]    Script Date: 09.04.2026 11:48:41 ******/
CREATE USER [alexm] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Manufacturer]    Script Date: 09.04.2026 11:48:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manufacturer](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[StartWorkDate] [date] NOT NULL,
 CONSTRAINT [PK_Manufacturer] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 09.04.2026 11:48:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Image] [nvarchar](max) NOT NULL,
	[ManufacturerID] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[Price] [money] NOT NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sale]    Script Date: 09.04.2026 11:48:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sale](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NOT NULL,
	[Count] [int] NOT NULL,
	[SaleTime] [datetime] NOT NULL,
 CONSTRAINT [PK_Sale] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 09.04.2026 11:48:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Manufacturer] ON 

INSERT [dbo].[Manufacturer] ([ID], [Name], [StartWorkDate]) VALUES (1, N'Princeton Review', CAST(N'2015-01-06' AS Date))
INSERT [dbo].[Manufacturer] ([ID], [Name], [StartWorkDate]) VALUES (2, N'Кнорус', CAST(N'2017-08-18' AS Date))
INSERT [dbo].[Manufacturer] ([ID], [Name], [StartWorkDate]) VALUES (3, N'Яуза', CAST(N'2015-10-22' AS Date))
SET IDENTITY_INSERT [dbo].[Manufacturer] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([ID], [Name], [Image], [ManufacturerID], [IsActive], [Price]) VALUES (1, N'Super Minds. Level 4. Workbook with Online Resources', N' Товары школы\701132.jpg', 38, 0, 1210.0000)
INSERT [dbo].[Product] ([ID], [Name], [Image], [ManufacturerID], [IsActive], [Price]) VALUES (2, N'Super Minds. Workbook 2 with Online Resources', N' Товары школы\701128.jpg', 38, 1, 1200.0000)
INSERT [dbo].[Product] ([ID], [Name], [Image], [ManufacturerID], [IsActive], [Price]) VALUES (3, N'Eyes Open. Level 3. Student''s Book', N' Товары школы\700890.jpg', 38, 1, 1350.0000)
GO
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[Sale] ON 

INSERT [dbo].[Sale] ([ID], [ProductID], [Count], [SaleTime]) VALUES (1, 92, 1, CAST(N'2019-10-13T18:32:07.000' AS DateTime))
INSERT [dbo].[Sale] ([ID], [ProductID], [Count], [SaleTime]) VALUES (2, 74, 1, CAST(N'2019-03-11T10:27:29.000' AS DateTime))
INSERT [dbo].[Sale] ([ID], [ProductID], [Count], [SaleTime]) VALUES (3, 90, 1, CAST(N'2019-08-10T12:07:36.000' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Sale] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([ID], [Login], [Password]) VALUES (1, N'admin', N'123')
INSERT [dbo].[User] ([ID], [Login], [Password]) VALUES (2, N'user', N'123')
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Manufacturer] FOREIGN KEY([ManufacturerID])
REFERENCES [dbo].[Manufacturer] ([ID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Manufacturer]
GO
ALTER TABLE [dbo].[Sale]  WITH CHECK ADD  CONSTRAINT [FK_Sale_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ID])
GO
ALTER TABLE [dbo].[Sale] CHECK CONSTRAINT [FK_Sale_Product]
GO
USE [master]
GO
